*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
}

:root{
    --primary-color:#ec523f;
    --secondary-color:#444444;
    --color1:#1abc9c;
    --color2:#e67e22;
    --color3:#3498db;
    --color4:#2ecc71;

}

body{
    overflow-x: hidden;
}

/* -------------------- HEADER ---------------------- */ 

header{
    width: 100%;
    position: sticky;
    top: -90px;
    z-index: 99;
}

.header-center{
    max-width: 1140px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-block: 27px;
}

.header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 11px;
    background-color: #fff;
    color: var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header-icon:hover{
    color: var(--primary-color);
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left > img{
    display: block;
    padding-right: 30px;
    cursor: pointer;
}

.header-left > h1{
    color: var(--primary-color);
    cursor: pointer;
}

.header-right > ul{
    display: flex;
    list-style: none;
    padding-right: 12px;
}

.active{
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    padding-block: 38px!important;
}

.header-right > ul > li{
    padding: 39px 22px;
}

.header-right > ul > li > a{ 
    position: relative;
    text-decoration: none;
    font-size: 14px;
    padding-block: 41px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.header-right > ul > li > a:hover{
    color: var(--primary-color);
    transition: all .6s ease-in-out;
}

.header-right > ul > li > a::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    background-color: var(--primary-color);
    border-radius: 30px;
    transform: scale(0);
    transition: all .6s ease-in-out;
}

.header-right > ul > li:hover > a::before{
    transform: scale(1.0);
}

.header-right > ul > li > a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    border-radius: 30px;
    transform: scale(0);
    transition: all .6s ease-in-out;
}

.header-right > ul > li:hover > a::after{
    transform: scale(1.0);
}

/* -------------------- SECTION-ONE ---------------------- */ 

#sec-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 632px;
    background: linear-gradient(hsla(0, 0%, 0%,.5),hsla(0, 0%, 0%,.5)), url(images/slide2.jpg) no-repeat center center / cover;
}

.sec-1-center{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding-inline: 15px;
}

.sec-1-content{
    text-align: center;
    padding-bottom: 92px;
}

.sec-1-content > h1{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}

.sec-1-content > p{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 22px;
    padding-top: 20px;
}

.sec-1-content > button{
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.sec-1-content > button:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

/* -------------------- SECTION-TWO ---------------------- */ 

#sec-2{
    width: 100%;
    padding-top: 535px;
}

.sec-2-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 15px;
}

.sec-2-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 60px;
}

.sec-2-top > h1{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    color: var(--secondary-color);
}

.sec-2-top > h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 6%;
    background-color: var(--secondary-color);
}

.sec-2-top > p{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 13px;
    color: var(--secondary-color);
}

.sec-2-bottom{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 80px;
}

.sec-2-bottom > .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 120px 0px;
}

.sec-2-bottom > .box > i{
    font-size: 48px;
    color: #fff;
}

#box1{
    background-color: var(--color1);
}

#box2{
    background-color: var(--color2);
}

#box3{
    background-color: var(--color3);
}

#box4{
    background-color: var(--color4);
}

.sec-2-overlay{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.sec-2-overlay > h1{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.sec-2-overlay > p{
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 1.75;
    padding-inline: 20px;
}

#box1 > .sec-2-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color1);
    opacity: 0;
    transition: all .1s ease-in-out;
}

#box1:hover > .sec-2-overlay{
    opacity: 1;
}

#box2 > .sec-2-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color2);
    opacity: 0;
    transition: all .1s ease-in-out;
}

#box2:hover > .sec-2-overlay{
    opacity: 1;
}

#box3 > .sec-2-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color3);
    opacity: 0;
    transition: all .1s ease-in-out;
}

#box3:hover > .sec-2-overlay{
    opacity: 1;
}

#box4 > .sec-2-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color4);
    opacity: 0;
    transition: all .1s ease-in-out;
}

#box4:hover > .sec-2-overlay{
    opacity: 1;
}

/* -------------------- SECTION-THREE ---------------------- */

#sec-3{
    width: 100%;
}

.sec-3-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 15px;
}

.sec-3-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 60px;
}

.sec-3-top > h1{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    color: var(--secondary-color);
}

.sec-3-top > h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 6%;
    background-color: var(--secondary-color);
}

.sec-3-top > p{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 10px;
    color: var(--secondary-color);
}

.sec-3-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 80px;
}

.sec-3-bottom > .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
}

.box > img{
    width: 100%;
}

.box > i{
    font-size: 48px;
    color: #fff;
}

.sec-3-overlay{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.sec-3-overlay > h1{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.sec-3-overlay > p{
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 1.75;
    padding-inline: 14px;
}

.sec-3-overlay > i{
    padding: 12px;
    font-size: 13px;
    border-radius: 50px;
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    cursor: pointer;
}

.sec-3-overlay > i:hover{
    color: #000;
}

.box > .sec-3-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    opacity: 1;
    transition: all 200ms ease-in-out;
    opacity: 0;
}

.box:hover > .sec-3-overlay{
    opacity: 1;
}

/* -------------------- SECTION-FOUR ---------------------- */

#sec-4{
    width: 100%;
}

.sec-4-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 15px;
}

.sec-4-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 60px;
}

.sec-4-top > h1{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    color: var(--secondary-color);
}

.sec-4-top > h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 6%;
    background-color: var(--secondary-color);
}

.sec-4-top > p{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 10px;
    color: var(--secondary-color);
}

.sec-4-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
}

.sec-4-bottom > .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
}

.sec-4-bottom > .box > img{
    width: 100%;
    border-radius: 50%;
}

.sec-4-bottom > .box > i{
    font-size: 48px;
    color: #fff;
}

.sec-4-overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-radius: 50%;
}

.sec-4-overlay > h1{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.sec-4-overlay > p{
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 1.75;
    padding-inline: 14px;
}

.sec-4-overlay > .sec-4-icon{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}

.sec-4-icon > i{
    padding: 12px;
    font-size: 13px;
    border-radius: 50px;
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    cursor: pointer;
}

.sec-4-overlay > i:hover{
    color: #000;
}

.box > .sec-4-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    opacity: 1;
    transition: all 200ms ease-in-out;
    opacity: 0;
}

.box:hover > .sec-4-overlay{
    opacity: 1;
}

/* -------------------- SECTION-FIVE ---------------------- */

#sec-5{
    width: 100%;
}

.sec-5-center{
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 15px;
}

.sec-5-top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.sec-5-top > h1{
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #5e5e5e;
}

.sec-5-top > p{
    font-style: italic;
    font-size: 13px;
    color: #aaaaaa;
}

.sec-5-bottom{
    width: 100%;
    display: flex;
    padding-bottom: 80px;
}

.sec-5-left{
    width: 70%;
}

.sec-5-left > p{
    font-size: 13px;
    color: #666666;
    line-height: 1.75;
}

.sec-5-left > p > span{
    color: var(--primary-color);
}

.sec-5-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sec-5-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
    background-color: #e7e7e7;
}

.sec-5-box > h1{
    position: absolute;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 11;
    left: 5%;
}

.sec-5-box:nth-child(1):after{
    content: "";
    position: absolute;
    /* width: 80%; */
    top: 0;
    left: 0;
    right: 10%;
    bottom: 0;
    background-color: var(--primary-color);
}

.sec-5-box:nth-child(2):after{
    content: "";
    position: absolute;
    /* width: 80%; */
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;
    background-color: var(--primary-color);
}

.sec-5-box:nth-child(3):after{
    content: "";
    position: absolute;
    /* width: 80%; */
    top: 0;
    left: 0;
    right: 30%;
    bottom: 0;
    background-color: var(--primary-color);
}

.sec-5-box:nth-child(4):after{
    content: "";
    position: absolute;
    /* width: 80%; */
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;
    background-color: var(--primary-color);
}

/* -------------------- SECTION-SIX ---------------------- */

#sec-6{
    width: 100%;
}

.sec-6-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 15px;
}

.sec-6-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 60px;
}

.sec-6-top > h1{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    color: var(--secondary-color);
}

.sec-6-top > h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 6%;
    background-color: var(--secondary-color);
}

.sec-6-top > p{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 10px;
    color: var(--secondary-color);
}

.sec-6-midle{
    padding-bottom: 50px;
}

.sec-6-map{
    width: 100%;
    height: 380px;
    border: 10px solid #efefef;
}

.sec-6-bottom{
    display: flex;
    width: 100%;
    padding-bottom: 130px;
}

.sec-6-left{
    width: 60%;
}

.sec-6-left > p{
    font-size: 13px;
    color: #666666;
    line-height: 1.75;
}

.sec-6-left > p > strong{
    font-weight: 700;
}

.red-span{
    color: var(--primary-color);
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.red-span:hover{
    color: #000;
}

.blue-span{
    color: #06C;
}

.green-span{
    color: #090;
}

.sec-6-right{
    width: 40%;
}

.sec-6-right > form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec-6-right > form > input{
    border: 1px solid #d5d5d5;
    outline: 0;
    padding: 10px 12px;
    color: #666666;
}

.sec-6-right > form > input:focus{
    border: 1px solid #000;
}

.sec-6-right > form > textarea{
    height: 120px;
    border: 1px solid #d5d5d5;
    outline: 0;
    padding: 10px 12px;
    color: #666666;
    resize: vertical;
}

.sec-6-right > form > textarea:focus{
    border: 1px solid #000;
}

.sec-6-btn{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff!important;
    transition: all .4s ease-in-out;
}

.sec-6-btn:hover{
    color: var(--primary-color)!important;
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

/* -------------------- FOOTER ---------------------- */

footer{
    width: 100%;
}

.footer-center{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 15px;
}

.footer-center > p{
    font-size: 13px;
    color: #666666;
    padding-bottom: 15px;
}

.footer-center > a{
    color: #fff;
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: all .4s ease-in-out;
}

.footer-center > a:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}